.content-main{
    display: flex;
    gap: 15px;
    padding: 15px 100px;
    flex-wrap: wrap;
    justify-content: center;
}
.campo_pesquisa{
    padding: 15px 100px;
    margin-top: 20px;
}

  
.botao_pesquisa {
    padding: 10px;
    width: 300px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .content-main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .filme {
    border: 1px solid #ccc;
    margin: 10px;
    padding: 20px;
    text-align: center;
    width: 300px;
    background-color: #f9f9f9;
  }
  
  .filme img {
    max-width: 100%;
    height: auto;
  }
  
  .filme h2 {
    margin-top: 10px;
    font-size: 18px;
  }
  
  .filme p {
    font-size: 16px;
  }
  